// Global variable overrides. Must be declared before importing Valo.

$v-app-loading-text: "GeoFuse";

$v-font-size: 12px;
$v-font-family: "Roboto", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: #fff;
$v-focus-color: rgb(150,190,90);
$v-luminance-threshold: 180;
$v-border: 1px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: #eee;

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin showtheme {
  @include valo;

  // Insert your own theme rules here
  .v-margin-left   {padding-left:   7px;}
  .v-margin-right  {padding-right:  7px;}
  .v-margin-top    {padding-top:    7px;}
  .v-margin-bottom {padding-bottom: 7px;}
   
  .v-panel-caption {
    background-image: -webkit-linear-gradient(top, $v-focus-color 0%, #fff 120%);
    border-bottom: 0px solid #999;
  }

  .v-panel-content {
    border: 1px solid #999;
    background: #F6F6F6;
  }

  .v-panel {
    border: 1px #000000;
  }
  
  .v-table-header {
    background: #a8a8a8;
    color: #fff;
    font-size: 13px;
  }       
  
  
}

.popups table, .popups th, .popups td {
    border: 1px solid #aaa;
    border-collapse: collapse;
}   

.popups th, .popups td {
    padding: 2px;
}
