<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Geofuse Tutorial</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
body { font:80% Verdana,Tahoma,Arial,sans-serif; }
h1, h2, h3, h4 {  font-family: "Trebuchet MS",Georgia,"Times New Roman",serif; color: green;}
ul.toc { padding: 4px; margin-left: 0; }
ul.toc li { list-style-type:none; }
ul.toc li.heading2 { margin-left: 1em; }
ul.toc li.heading3 { margin-left: 2em; }
a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #ddd; }
</style>
</head>
<body>
<h1 style="color:#96be5a;margin-top: 0.5em">Quick Tutorial</h1>

<h2 style="color:#96be5a;margin-top: 0.5em">Entering Data</h2>

    <p><strong>Below are the steps that can be used to visualise data into GeoFuse</strong></p>

	<ul>
	<li>Download a Map Link Table file from GeoFuse and open the file with Excel or OpenOffice.<br /> 
	<img src="gf1.png" alt="" width="100%" height="auto"  /></li>
	</ul>


	<ul>
	<li>Add a Column Name and place sample data. For this example, "Number of Schools" will be used and random data will be placed using the Excel function<br />
	<pre style="display: inline-block; border:1px solid Gray; color: #6666ff; background-color:#eeeeee;">
  =RAND() * 1000  </pre>

    <br />and cut and pasted into the entire column.</li>
	</ul>


	<p><img src="gf2.png" alt=""  width="100%" height="auto"  /></p>


	<ul>
	<li>Then select and copy all the data</li>
	</ul>


	<p><img src="gf3.png" alt=""  width="100%" height="auto"  /></p>


	<ul>
	<li>And paste the selected data into the GeoFuse Input page and add "Test Map" as its Layer Name</li>
	</ul>


	<p><img src="gf4.png" alt=""  width="100%" height="auto"  /></p>


	<ul>
	<li>Submit the data and view the created map</li>
	</ul>


	<p><img src="gf5.png" alt=""  width="100%" height="auto"  /></p>


<h2 style="color:#96be5a;margin-top: 0.5em">Entering Timestamp Data</h2>


	<p><strong>GeoFuse has the ability to handle timestamps and filter maps based on the data/time given data. But in order to do this, the Timestamp data should have a column named "timestamp" and the data entered should be in the "YYYY/MM/DD HH:DD:SS" or "YYYY-MM-DD HH:DD:SS" formats. Below are the steps that can be used to enter data with timestamps into GeoFuse</strong></p>


	<ul>
	<li>Using the spreadsheet above, add "timestamp" as a column name and format the entire row into "YYYY/MM/DD HH:DD:SS" format. With OpenOffice, this done by selecting the entire column and go to Format -> Cells menu option.</li>
	</ul>


	<p><img src="gf6.png" alt="" width="100%" height="auto"   /></p>


	<ul>
	<li>Sample timestamp data can be created using the Excel function<br />
	<pre style="display: inline-block; border:1px solid Gray; color: #6666ff; background-color:#eeeeee;">
  =NOW() - B2  </pre>
  
    <br />and then cut and pasted into the entire column.</li>
	</ul>


	<p><img src="gf7.png" alt="" width="100%" height="auto"   /></p>


	<ul>
	<li>The entire data is once again copied and then pasted into the GeoFuse Input page with "Test Data with Timestamp" as its layer name.</li>
	</ul>


	<p><img src="gf8.png" alt="" width="100%" height="auto"   /></p>


	<ul>
	<li>When viewing the created map, there will be now a To Date and From Date options which will make it possible to display only data within the specified dates. These options will only be included if the sent data includes timestamps.</li>
	</ul>


	<p><img src="gf9.png" alt="" width="100%" height="auto"   /></p>


<h2 style="color:#96be5a;margin-top: 0.5em">Entering X,Y (Longitude/Latitude) Data</h2>


	<p><strong>GeoFuse also has the capability to handle data that already have X,Y (Longitude, Latitude) points. There are a couple of rules to follow though in order for GeoFuse to accept the X,Y point data: First, the columns names have to be "lon" for the X point and "lat" for the Y point. Second, the "lon" and "lat" columns have to be the last columns of the data. And lastly, the X,Y points have to be in WGS84 projection, which is the projection commonly used by GPS systems. Below are the steps that can be used to enter data with X,Y points.</strong></p>


	<ul>
	<li>Create a worksheet with the "lon" and "lat" columns, which contain the X and Y points respectively, as the last columns</li>
	</ul>


	<p><img src="gf10.png" alt="" width="100%" height="auto"   /></p>


	<ul>
	<li>Copy and paste the data into the GeoFuse Input page</li>
	</ul>


	<p><img src="gf11.png" alt=""  width="100%" height="auto"  /></p>


	<ul>
	<li>View the data</li>
	</ul>


	<p><img src="gf12.png" alt="" width="100%" height="auto"   /></p>
</body>
</html>
