$v-app-loading-text: "GeoFuse";

$v-font-size: 12px;
$v-font-family: "Roboto", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: #fff;
$v-focus-color: rgb(150,190,90);
$v-luminance-threshold: 180;
$v-border: 1px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: #eee;

/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
/*@import "../reindeer/reindeer.scss"; */ 
/*@import "../runo/runo.scss";*/ 
/*@import "../liferay/liferay.scss"; */
@import "../valo/valo.scss"; 

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin geofuse {
  /* Include all the styles from the reindeer theme */
  
  /*@include reindeer;*/
  /*@include runo;*/
  /*@include liferay;*/
  
  @include valo; 

  /* Insert your theme rules here */
  
  .v-verticallayout-margin {
    padding-left:   7px;
    padding-right:  7px;
    padding-top:    7px;
    padding-bottom: 7px;
  }
  
  .v-margin-left   {padding-left:   10px;}
  .v-margin-right  {padding-right:  10px;}
  .v-margin-top    {padding-top:    10px;}
  .v-margin-bottom {padding-bottom: 10px;}
  
  .v-verticallayout-margin-left   {padding-left:   2px;}
  .v-verticallayout-margin-right  {padding-right:  2px;}
  .v-verticallayout-margin-top    {padding-top:    2px;}
  .v-verticallayout-margin-bottom {padding-bottom: 2px;}
}


.login .v-panel {
	background: #f6f6f6;
}

.login .v-panel-nocaption {
	margin: 0;
	border: none;
	background: none;
	padding: 0;
	height: 0;
}

.popups table, .popups th, .popups td {
	border: 1px solid #aaa;
	border-collapse: collapse;
}   

.popups th, .popups td {
	padding: 2px;
}

/*} */
