/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
/*@import "../reindeer/reindeer.scss"; */ 
/*@import "../runo/runo.scss";*/ 
@import "../liferay/liferay.scss"; 
/*@import "../valo/valo.scss"; */

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin geofuse {
  /* Include all the styles from the reindeer theme */
  /*@include reindeer;*/
  /*@include runo;*/
  @include liferay;
  /*@include valo; */

  /* Insert your theme rules here */
    
  .v-verticallayout-margin {
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    2px;
    padding-bottom: 2px;

  }
  
  .v-verticallayout-margin-left   {padding-left:   2px;}
  .v-verticallayout-margin-right  {padding-right:  2px;}
  .v-verticallayout-margin-top    {padding-top:    2px;}
  .v-verticallayout-margin-bottom {padding-bottom: 2px;}

  .v-panel-caption, .v-window-header {
	white-space: nowrap;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	color: #222222;
	//background: #cccccc;
	//height: 18px;
  }
  
  .v-table-row, .v-table-row-odd {
  	color: #000;
  }
  
  .v-panel {
  	border: 1px #000000;
  }
  
  .v-panel-content {
       background: #F6F6F6;
   }

/*  } */
}

.login .v-panel {
	background: #f6f6f6;
}

.login .v-panel-nocaption {
	margin: 0;
	border: none;
	background: none;
	padding: 0;
	height: 0;
}

.popups table, .popups th, .popups td {
	border: 1px solid #aaa;
	border-collapse: collapse;
}   

.popups th, .popups td {
	padding: 2px;
}

/*} */
