 
@mixin showtheme {
      
   /* Insert your theme rules here */
  .v-margin-left   {padding-left:   7px;}
  .v-margin-right  {padding-right:  7px;}
  .v-margin-top    {padding-top:    7px;}
  .v-margin-bottom {padding-bottom: 7px;}
   
  .v-panel-caption {
    background-image: -webkit-linear-gradient(top, $v-focus-color 0%, #fff 120%);
    border-bottom: 0px solid #999;
  }

  .v-panel-content {
    border: 1px solid #999;
    background: #F6F6F6;
  }

  .v-panel {
    border: 1px #000000;
  }
  
  .v-caption-desc {
    font-size: 12px;
    color: brown;
  }
   
  .v-table-header {
    background: #a8a8a8;
    color: #fff;
  }       
}
